[Desktop Entry]
Type=Application
Name=Lab Start Page
Comment=Open the lab start page on login
Exec=sh -c "sleep 2; firefox file://$HOME/lab/index.html"
X-GNOME-Autostart-enabled=true
