[Desktop Entry]
Version=1.0
Type=Application
Name=Start the Lab
Comment=Open the lab devices start page
Exec=firefox file://{{ jumpbox_home }}/lab/index.html
Icon=applications-internet
Terminal=false
